src/Plugins/Nop.Plugin.SMS.Clickatell/Service References/Clickatell/webservice_vs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.clickatell.com/soap/webservice" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.clickatell.com/soap/webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://api.clickatell.com/soap/webservice">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="ArrayOfString">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="authInput">
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="authOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="pingInput">
    <wsdl:part name="session_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="pingOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sendmsgInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="to" type="tns:ArrayOfString" />
    <wsdl:part name="from" type="xsd:string" />
    <wsdl:part name="text" type="xsd:string" />
    <wsdl:part name="concat" type="xsd:int" />
    <wsdl:part name="deliv_ack" type="xsd:int" />
    <wsdl:part name="msg_callback" type="xsd:int" />
    <wsdl:part name="deliv_time" type="xsd:int" />
    <wsdl:part name="max_credits" type="xsd:float" />
    <wsdl:part name="req_feat" type="xsd:int" />
    <wsdl:part name="queue" type="xsd:int" />
    <wsdl:part name="escalate" type="xsd:int" />
    <wsdl:part name="mo" type="xsd:int" />
    <wsdl:part name="cliMsgId" type="xsd:string" />
    <wsdl:part name="unicode" type="xsd:int" />
    <wsdl:part name="msg_type" type="xsd:string" />
    <wsdl:part name="udh" type="xsd:string" />
    <wsdl:part name="data" type="xsd:string" />
    <wsdl:part name="validity" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="sendmsgOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="querymsgInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="apimsgid" type="xsd:string" />
    <wsdl:part name="climsgid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="querymsgOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="delmsgInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="apimsgid" type="xsd:string" />
    <wsdl:part name="climsgid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="delmsgOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="getbalanceInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getbalanceOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="routeCoverageInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="msisdn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="routeCoverageOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="si_pushInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="to" type="tns:ArrayOfString" />
    <wsdl:part name="si_id" type="xsd:string" />
    <wsdl:part name="si_url" type="xsd:string" />
    <wsdl:part name="si_text" type="xsd:string" />
    <wsdl:part name="si_created" type="xsd:string" />
    <wsdl:part name="si_expires" type="xsd:string" />
    <wsdl:part name="si_action" type="xsd:string" />
    <wsdl:part name="from" type="xsd:string" />
    <wsdl:part name="concat" type="xsd:int" />
    <wsdl:part name="deliv_ack" type="xsd:int" />
    <wsdl:part name="msg_callback" type="xsd:int" />
    <wsdl:part name="deliv_time" type="xsd:int" />
    <wsdl:part name="max_credits" type="xsd:float" />
    <wsdl:part name="req_feat" type="xsd:int" />
    <wsdl:part name="queue" type="xsd:int" />
    <wsdl:part name="escalate" type="xsd:int" />
    <wsdl:part name="mo" type="xsd:int" />
    <wsdl:part name="cliMsgId" type="xsd:string" />
    <wsdl:part name="validity" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="si_pushOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="ind_pushInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="to" type="tns:ArrayOfString" />
    <wsdl:part name="mms_subject" type="xsd:string" />
    <wsdl:part name="mms_class" type="xsd:string" />
    <wsdl:part name="mms_expire" type="xsd:string" />
    <wsdl:part name="mms_from" type="xsd:string" />
    <wsdl:part name="mms_url" type="xsd:string" />
    <wsdl:part name="from" type="xsd:string" />
    <wsdl:part name="concat" type="xsd:int" />
    <wsdl:part name="deliv_ack" type="xsd:int" />
    <wsdl:part name="msg_callback" type="xsd:int" />
    <wsdl:part name="deliv_time" type="xsd:int" />
    <wsdl:part name="max_credits" type="xsd:float" />
    <wsdl:part name="req_feat" type="xsd:int" />
    <wsdl:part name="queue" type="xsd:int" />
    <wsdl:part name="escalate" type="xsd:int" />
    <wsdl:part name="mo" type="xsd:int" />
    <wsdl:part name="cliMsgId" type="xsd:string" />
    <wsdl:part name="validity" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="ind_pushOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="token_payInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="token_payOutput">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="startbatchInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="from" type="xsd:string" />
    <wsdl:part name="concat" type="xsd:int" />
    <wsdl:part name="template" type="xsd:string" />
    <wsdl:part name="deliv_ack" type="xsd:int" />
    <wsdl:part name="msg_callback" type="xsd:int" />
    <wsdl:part name="deliv_time" type="xsd:int" />
    <wsdl:part name="max_credits" type="xsd:float" />
    <wsdl:part name="req_feat" type="xsd:int" />
    <wsdl:part name="queue" type="xsd:int" />
    <wsdl:part name="escalate" type="xsd:int" />
    <wsdl:part name="mo" type="xsd:int" />
    <wsdl:part name="cliMsgId" type="xsd:string" />
    <wsdl:part name="unicode" type="xsd:int" />
    <wsdl:part name="msg_type" type="xsd:string" />
    <wsdl:part name="udh" type="xsd:string" />
    <wsdl:part name="data" type="xsd:string" />
    <wsdl:part name="validity" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="startbatchOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="senditemInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="batch_id" type="xsd:string" />
    <wsdl:part name="to" type="tns:ArrayOfString" />
    <wsdl:part name="field1" type="xsd:string" />
    <wsdl:part name="field2" type="xsd:string" />
    <wsdl:part name="field3" type="xsd:string" />
    <wsdl:part name="field4" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="senditemOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="quicksendInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="batch_id" type="xsd:string" />
    <wsdl:part name="to" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="quicksendOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="endbatchInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="batch_id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="endbatchOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="getmsgchargeInput">
    <wsdl:part name="session_id" type="xsd:string" />
    <wsdl:part name="api_id" type="xsd:int" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="apimsgid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getmsgchargeOutput">
    <wsdl:part name="return" type="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="PushServerWSPortType">
    <wsdl:operation name="auth">
      <wsdl:input message="tns:authInput" />
      <wsdl:output message="tns:authOutput" />
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingInput" />
      <wsdl:output message="tns:pingOutput" />
    </wsdl:operation>
    <wsdl:operation name="sendmsg">
      <wsdl:input message="tns:sendmsgInput" />
      <wsdl:output message="tns:sendmsgOutput" />
    </wsdl:operation>
    <wsdl:operation name="querymsg">
      <wsdl:input message="tns:querymsgInput" />
      <wsdl:output message="tns:querymsgOutput" />
    </wsdl:operation>
    <wsdl:operation name="delmsg">
      <wsdl:input message="tns:delmsgInput" />
      <wsdl:output message="tns:delmsgOutput" />
    </wsdl:operation>
    <wsdl:operation name="getbalance">
      <wsdl:input message="tns:getbalanceInput" />
      <wsdl:output message="tns:getbalanceOutput" />
    </wsdl:operation>
    <wsdl:operation name="routeCoverage">
      <wsdl:input message="tns:routeCoverageInput" />
      <wsdl:output message="tns:routeCoverageOutput" />
    </wsdl:operation>
    <wsdl:operation name="si_push">
      <wsdl:input message="tns:si_pushInput" />
      <wsdl:output message="tns:si_pushOutput" />
    </wsdl:operation>
    <wsdl:operation name="ind_push">
      <wsdl:input message="tns:ind_pushInput" />
      <wsdl:output message="tns:ind_pushOutput" />
    </wsdl:operation>
    <wsdl:operation name="token_pay">
      <wsdl:input message="tns:token_payInput" />
      <wsdl:output message="tns:token_payOutput" />
    </wsdl:operation>
    <wsdl:operation name="startbatch">
      <wsdl:input message="tns:startbatchInput" />
      <wsdl:output message="tns:startbatchOutput" />
    </wsdl:operation>
    <wsdl:operation name="senditem">
      <wsdl:input message="tns:senditemInput" />
      <wsdl:output message="tns:senditemOutput" />
    </wsdl:operation>
    <wsdl:operation name="quicksend">
      <wsdl:input message="tns:quicksendInput" />
      <wsdl:output message="tns:quicksendOutput" />
    </wsdl:operation>
    <wsdl:operation name="endbatch">
      <wsdl:input message="tns:endbatchInput" />
      <wsdl:output message="tns:endbatchOutput" />
    </wsdl:operation>
    <wsdl:operation name="getmsgcharge">
      <wsdl:input message="tns:getmsgchargeInput" />
      <wsdl:output message="tns:getmsgchargeOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PushServerWSBinding" type="tns:PushServerWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="auth">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/auth" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/ping" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendmsg">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/sendmsg" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="querymsg">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/querymsg" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delmsg">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/delmsg" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getbalance">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/getbalance" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="routeCoverage">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/routeCoverage" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="si_push">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/si_push" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ind_push">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/ind_push" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="token_pay">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/token_pay" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startbatch">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/startbatch" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="senditem">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/senditem" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="quicksend">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/quicksend" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="endbatch">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/endbatch" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmsgcharge">
      <soap:operation soapAction="http://api.clickatell.com/soap/webservice_vs.php/getmsgcharge" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://api.clickatell.com/soap/webservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushServerWS">
    <wsdl:port name="PushServerWSPort" binding="tns:PushServerWSBinding">
      <soap:address location="http://api.clickatell.com/soap/webservice_vs.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>