src/Plugins/Nop.Plugin.Shipping.UPS/Connected Services/UPSTrack/TrackWebServiceSchema.xsd

<xsd:schema targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/Track/v2.0" xmlns:ups="http://www.ups.com/XMLSchema" xmlns:trk="http://www.ups.com/XMLSchema/XOLTWS/Track/v2.0" xmlns:common="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="201801">
	<xsd:import namespace="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" schemaLocation="common.xsd"/>
	<xsd:element name="TrackRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="common:Request"/>
				<xsd:element name="InquiryNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="IncludeMailInnovationIndicator" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TrackingOption" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CandidateBookmark" type="xsd:string" minOccurs="0"/>
				<xsd:group ref="trk:ReferenceNumberGroup" minOccurs="0"/>
				<xsd:element name="ShipperAccountInfo" type="trk:ShipperAccountInfoType" minOccurs="0"/>
				<xsd:element name="PreauthorizedReturnIndicator" type="xsd:string" maxOccurs="1" minOccurs="0" />
				<xsd:element name="Locale" type="xsd:string" maxOccurs="1" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="ReferenceNumberGroup">
		<xsd:sequence>
			<xsd:element name="ReferenceNumber" type="trk:ReferenceNumberType" minOccurs="0"/>
			<xsd:element name="PickupDateRange" type="trk:PickupDateRangeType" minOccurs="0"/>
			<xsd:element name="ShipperNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ShipFrom" type="trk:ShipFromRequestType" minOccurs="0"/>
			<xsd:element name="ShipTo" type="trk:ShipToRequestType" minOccurs="0"/>
			<xsd:element name="ShipmentType" type="trk:RefShipmentType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="AddressRequestType">
		<xsd:sequence>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RefShipmentType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PickupDateRangeType">
		<xsd:sequence>
			<xsd:element name="BeginDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EndDate" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceNumberType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestTransactionReferenceType">
		<xsd:sequence>
			<xsd:element name="CustomerContext" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TransactionIdentifierPlayback" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipToRequestType">
		<xsd:sequence>
			<xsd:element name="Address" type="trk:AddressRequestType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipFromRequestType">
		<xsd:sequence>
			<xsd:element name="Address" type="trk:AddressRequestType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TrackResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="common:Response"/>
				<xsd:element name="Shipment" type="trk:ShipmentType" maxOccurs="unbounded"/>
				<xsd:element name="Disclaimer" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ActivityLocationType">
		<xsd:sequence>
			<xsd:element name="Address" type="trk:AddressType" minOccurs="0"/>
			<xsd:element name="TransportFacility" type="trk:TransportFacilityType" minOccurs="0"/>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SignedForByName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransportFacilityType">
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:string"/>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActivityType">
		<xsd:sequence>
			<xsd:element name="AlternateTrackingInfo" type="trk:AlternateTrackingInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ActivityLocation" type="trk:ActivityLocationType" minOccurs="0"/>
			<xsd:element name="Status" type="trk:StatusType" minOccurs="0"/>
			<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Time" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeliveryDateFromManifestIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NextScheduleActivity" type="trk:NextScheduleActivityType" minOccurs="0"/>
			<xsd:element name="Document" type="trk:DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AdditionalAttribute" type="trk:AdditionalCodeDescriptionValueType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NextScheduleActivityType">
		<xsd:sequence>
			<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Time" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="AddressLine" type="xsd:string" minOccurs="0" maxOccurs="3"/>
			<xsd:element name="City" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StateProvinceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AmountType">
		<xsd:sequence>
			<xsd:element name="CurrencyCode" type="xsd:string"/>
			<xsd:element name="MonetaryValue" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommonCodeDescriptionType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CODType">
		<xsd:sequence>
			<xsd:element name="Amount" type="trk:AmountType" minOccurs="0"/>
			<xsd:element name="Status" type="trk:CODStatusType" minOccurs="0"/>
			<xsd:element name="ControlNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CODStatusType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryDetailType">
		<xsd:sequence>
			<xsd:element name="Type" type="trk:CommonCodeDescriptionType"/>
			<xsd:element name="Date" type="xsd:string"/>
			<xsd:element name="Time" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ImageFormatType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NumberOfPackagingUnitType">
		<xsd:sequence>
			<xsd:element name="Type" type="trk:CommonCodeDescriptionType"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageType">
		<xsd:sequence>
			<xsd:element name="TrackingNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeliveryIndicator" type="xsd:string" minOccurs="0" />
			<xsd:element name="DeliveryDate" type="xsd:string" minOccurs="0" />
			<xsd:element name="Redirect" type="trk:RedirectType" minOccurs="0"/>
			<xsd:element name="DeliveryDetail" type="trk:DeliveryDetailType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PackageAddress" type="trk:PackageAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PackageServiceOption" type="trk:ServiceOptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="COD" type="trk:CODType" minOccurs="0"/>
			<xsd:element name="Activity" type="trk:ActivityType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Message" type="trk:MessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PackageWeight" type="trk:WeightType" minOccurs="0"/>
			<xsd:element name="ReferenceNumber" type="trk:ReferenceNumberType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AlternateTrackingNumber" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AlternateTrackingInfo" type="trk:AlternateTrackingInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DimensionalWeightScanIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PreauthorizedReturnInformation" type="trk:PreauthorizedReturnInformationType" maxOccurs="1" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RedirectType">
		<xsd:sequence>
			<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LocationID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PickupDate" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryDateUnavailableType">
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageAddressType">
		<xsd:sequence>
			<xsd:element name="Type" type="trk:CommonCodeDescriptionType"/>
			<xsd:element name="Address" type="trk:AddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductCodeDescriptionType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PODLetterType">
		<xsd:sequence>
			<xsd:element name="HTMLImage" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResponseTransactionReferenceType">
		<xsd:sequence>
			<xsd:element name="CustomerContext" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentReferenceNumberType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentType">
		<xsd:sequence>
			<xsd:element name="InquiryNumber" type="trk:CodeDescriptionValueType" minOccurs="0"/>
			<xsd:element name="ShipmentType" type="trk:RefShipmentType" minOccurs="0"/>
			<xsd:element name="CandidateBookmark" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ShipperNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ShipmentAddress" type="trk:ShipmentAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ShipmentWeight" type="trk:WeightType" minOccurs="0"/>
			<xsd:element name="Service" type="trk:ServiceType" minOccurs="0"/>
			<xsd:element name="ReferenceNumber" type="trk:ShipmentReferenceNumberType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CurrentStatus" type="trk:CommonCodeDescriptionType" minOccurs="0"/>
			<xsd:element name="PickupDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ServiceCenter" type="trk:ServiceCenterType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DeliveryDateUnavailable" type="trk:DeliveryDateUnavailableType" minOccurs="0"/>
			<xsd:element name="DeliveryDetail" type="trk:DeliveryDetailType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Volume" type="trk:VolumeType" minOccurs="0"/>
			<xsd:element name="BillToName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumberOfPackagingUnit" type="trk:NumberOfPackagingUnitType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="COD" type="trk:CODType" minOccurs="0"/>
			<xsd:element name="SignedForByName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Activity" type="trk:ShipmentActivityType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OriginPortDetail" type="trk:OriginPortDetailType" minOccurs="0"/>
			<xsd:element name="DestinationPortDetail" type="trk:DestinationPortDetailType" minOccurs="0"/>
			<xsd:element name="DescriptionOfGoods" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CargoReady" type="trk:DateTimeType" minOccurs="0"/>
			<xsd:element name="Manifest" type="trk:DateTimeType" minOccurs="0"/>
			<xsd:element name="CarrierActivityInformation" type="trk:CarrierActivityInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Document" type="trk:DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="FileNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Appointment" type="trk:AppointmentType" minOccurs="0"/>
			<xsd:element name="Package" type="trk:PackageType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AdditionalAttribute" type="trk:AdditionalCodeDescriptionValueType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentAddressType">
		<xsd:sequence>
			<xsd:element name="Type" type="trk:CommonCodeDescriptionType"/>
			<xsd:element name="Address" type="trk:AddressType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AppointmentType">
		<xsd:sequence>
			<xsd:element name="Made" type="trk:DateTimeType" minOccurs="0"/>
			<xsd:element name="Requested" type="trk:DateTimeType" minOccurs="0"/>
			<xsd:element name="BeginTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EndTime" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CodeDescriptionValueType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalCodeDescriptionValueType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SignatureImageType">
		<xsd:sequence>
			<xsd:element name="GraphicImage" type="xsd:string"/>
			<xsd:element name="ImageFormat" type="trk:ImageFormatType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatusType">
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnitOfMeasurementType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VolumeType">
		<xsd:sequence>
			<xsd:element name="UnitOfMeasurement" type="trk:UnitOfMeasurementType" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WeightType">
		<xsd:sequence>
			<xsd:element name="UnitOfMeasurement" type="trk:UnitOfMeasurementType" minOccurs="0"/>
			<xsd:element name="Weight" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DateTimeType">
		<xsd:sequence>
			<xsd:element name="Date" type="xsd:string"/>
			<xsd:element name="Time" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceCenterType">
		<xsd:sequence>
			<xsd:element name="Type" type="trk:CommonCodeDescriptionType"/>
			<xsd:element name="Address" type="trk:AddressType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceOptionType">
		<xsd:sequence>
			<xsd:element name="Type" type="trk:CommonCodeDescriptionType"/>
			<xsd:element name="Value" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:sequence>
			<xsd:element name="Type" type="trk:CommonCodeDescriptionType"/>
			<xsd:element name="Content" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Format" type="trk:CommonCodeDescriptionType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentActivityType">
		<xsd:sequence>
			<xsd:element name="ActivityLocation" type="trk:AddressType" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Time" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Trailer" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OriginPortDetailType">
		<xsd:sequence>
			<xsd:element name="OriginPort" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EstimatedDeparture" type="trk:DateTimeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DestinationPortDetailType">
		<xsd:sequence>
			<xsd:element name="DestinationPort" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EstimatedArrival" type="trk:DateTimeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CarrierActivityInformationType">
		<xsd:sequence>
			<xsd:element name="CarrierId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Status" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Arrival" type="trk:DateTimeType" minOccurs="0"/>
			<xsd:element name="Departure" type="trk:DateTimeType" minOccurs="0"/>
			<xsd:element name="OriginPort" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DestinationPort" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipperAccountInfoType">
		<xsd:sequence>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AlternateTrackingInfoType">
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PreauthorizedReturnInformationType">
		<xsd:sequence>
			<xsd:element name="ReturnEligibilityIndicator" type="xsd:string" maxOccurs="1" minOccurs="0" />
			<xsd:element name="ReturnExpirationDate" type="xsd:string" maxOccurs="1" minOccurs="0" />
			<xsd:element name="ReturnRequestURL" type="xsd:string" maxOccurs="1" minOccurs="0" />
			<xsd:element name="OriginalTrackingNumber" type="xsd:string" maxOccurs="1" minOccurs="0" />
			<xsd:element name="ReturnTrackingNumber" type="xsd:string" maxOccurs="1" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
